{% extends "base.html" %}
{% block content %}
<br>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<div class="checkin">
    <form class="" method="POST">
      {% csrf_token %}
      <div class="center">
        <h3>{{ name }} : {{ address }}</h3> <br>
      <table align="center">
        <tr>
          <td>
            <div class="form-group">
              <h3>Sport: <br> {{ form.checkin_type }}</h3> <br>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <h3>Trash Talk: <br> {{ form.checkin_body }}</h3> <br>
            </div>
          </td>
        </tr>
      </table>
      <input class="button"  align="center" type="submit" value="Check In">
      <br><br>
    </div>
    </form>
</div>
{% endblock %}
