<!DOCTYPE html>
{% load staticfiles %}
    <meta charset="utf-8">
    <title>Fanatik</title>
    <link rel="stylesheet" href='{% static "app/css/bootstrap.css" %}' media="screen" title="bootstrap" charset="utf-8">
    <link rel="stylesheet" href='{% static "app/css/app.css" %}' media="screen" title="bootstrap" charset="utf-8">
      {% if request.user.is_anonymous %}
      <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><img id="navbar_logo" src='{% static "app/fanatik.png" %}' alt="" /></li>
        <li><a href="{% url 'login' %}" role="button">Login</a></li>
        <li><a href="{% url 'user_create_view' %}" role="button">Create User</a></li>
      </nav>
      {% endif %}
      {% if request.user.is_authenticated %}
      <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><img id="navbar_logo" src="/static/app/fanatik.png" alt="" /></li>
        <li><a href="{% url 'profile_update_view' %}" role="button">Profile</a></li>
        <li><a href="{% url 'get_places_view' %}">Choose a Place</a></li>
        <li><a href="{% url 'football_location_list_view' %}">NCAAF: {{ request.user.profile.football }}</a></li>
        <li><a href="{% url 'basketball_location_list_view' %}">NCAAB: {{ request.user.profile.basketball }}</a></li>
        <li><a href="{% url 'all_locations_list_view' %}">View All Locations</a></li>
        <li id="right"><a href="{% url 'logout' %}?next=/" role="button">Logout {{ request.user }}</a></li>
      </nav>
      {% endif %}
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
