{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<body id="chooseplace">
<div class="checkin">
<form class="" method="post">
  {% csrf_token %}
  <div class="center">
    <img id="logo" src="{% static 'app/logo.png' %}" alt="" />
  </div>
  <table align="center">
    <tr>
      <td>
        <div class="form-group">
          {{ form.location_name }} <br><br>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          {{ form.location_city }}<br><br>
        </div>
      </td>
    </tr>
  </table>
  <div class="center">
    <input class="button" align="center" type="submit" value="Find Places"><br>
  </div>
</form>
<br><br>
<div class="center">
  {% if places %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>{{ places|first }}</h3>
    </div>
      <ul class="list-group">
        {% for address in addresses %}
        <li id="scroll" class="list-group-item"><a href="{% url 'check_in_create_view' %}?lat={{ address.1.lat }}&lng={{ address.1.lng }}&name={{ places|first }}&city={{ location }}&address={{ address.0 }}">{{ address.0 }}</a></li>
        {% endfor %}
      </ul>
      </div>
  {% endif %}
</div>
</div>
</body>
{% endblock %}
