{% extends "base.html" %}
{% block content %}
  <body>
    <form class="" action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <table>
          <tr>
            <td>
              Username: {{ form.username }} <br><br>
            </td>
          </tr>
          <tr>
            <td>
              Password: {{ form.password1 }} <br><br>
            </td>
          </tr>
          <tr>
            <td>
              Retype Password: {{ form.password2 }} <br><br>
            </td>
          </tr>
        </table>
      </div>
      <input class="button" type="submit" name="submit" value="Create User">
    </form>
  </body>
{% endblock %}
