html, body {
  min-height : 100%;
  font-family: courier;
  background-image: url("https://s3-us-west-2.amazonaws.com/fanatik/app/sportsfans2.png"), url("https://s3-us-west-2.amazonaws.com/fanatik/app/map_background.png");
  background-repeat: no-repeat, repeat;
  background-position: center bottom, 200% 100%;
  background-size: 100% auto, 100% auto;
  background-attachment: fixed;
}

#locationname {
  height: 50px;
  width: 425px;
  line-height: 15px;
  text-align: center;
}

#commentbody {
  height: 78px;
}

#address {
  height: 50px;
  width: 425px;
  line-height: 12px;
  text-align: center;
}

#navbar_logo {
  padding-top: 10px;
  height: 40px;
  width: 60px;
  border: 0px;
}

#debates {
  height: 50px;
  width: 425px;
  padding-top: 10px;
}

#logo {
  border: 0px;
  width: 400px;
}

.navbar {
  background-color: indigo;
  border: 2px solid white;
}

.nav.navbar-nav li a {
  color: white;
}

.nav.navbar-nav li a:hover {
  color: white;
}

.nav.navbar-nav li a:active {
  color: white;
}

.navbar-default .navbar-brand  {
  color: white;
}

.navbar-default .navbar-brand:hover  {
  color: white;
}

.navbar-default .navbar-brand:active {
  color: white;
}

.navbar-default .navbar-brand:visited {
  color: white;
}

#id_bio {
  border-radius: 5px;
  height: 200px;
  width: 400px;
  font-size: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
}

.map {
  width: 600px;
  height: 600px;
}

.center {
  text-align: center;
}

#id_location_name {
  border-radius: 5px;
  width: 500px;
  font-size: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
}

#id_location_city {
  border-radius: 5px;
  width: 500px;
  font-size: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
}

#id_center {
  width: 500px;
  margin: auto;
}

#right {
  position: absolute;
  right: 50px;
}

#id_football {
  -webkit-appearance: menulist-button;
  width: 300px;
  font-size: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
  background-color: white;
}

#id_basketball {
  -webkit-appearance: menulist-button;
  width: 300px;
  font-size: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
  background-color: white;
}

#id_city {
  border-radius: 5px;
  width: 300px;
  font-size: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
}

#id_state {
  -webkit-appearance: menulist-button;
  width: 300px;
  font-size: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
  background-color: white;
}
input[type="submit"] {
  width: 250px;
  font-size: 25px;
}

input[type="search"]{
  width: 200px;
}

.button {
  border-radius: 5px;
  background-color: indigo;
  color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
}

form {
  margin: 500;
}

.panel .panel-heading {
  background-color: indigo;
  color: white;
  height: 70px;
  padding-top: 0.1px;
  text-align: center;
}

.panel.panel-default {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.42);
  border: 1px solid black;
}

.list-group-item {
  position: relative;
  padding: 0px 10px;
  line-height: 2em;
  border: 1px solid black;
  font-size: 15px;
  vertical-align: text-top;
}

#map-canvas {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
}

#id_zipcode {
  border-radius: 5px;
  width: 200px;
  font-size: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
}

img {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.thumb {
  height: 30px;
  width: 30px;
}

#comments {
  width: 425px;
}

#id_checkin_type {
  -webkit-appearance: menulist-button;
  width: 300px;
  font-size: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
  background-color: white;
}

#id_body {
  width: 300px;
  height: 150px;
  font-size: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.42);
  background-color: white;
}


.center-column {
  display: block;
 margin: 15px auto;
}

.checkin {
  padding-top: 15px;
}
