body {
  font-family: courier;
}

.navbar {
  background-color: indigo;
}

.nav.navbar-nav li a {
  color: white;
}

.nav.navbar-nav li a:hover {
  color: white;
}

.nav.navbar-nav li a:active {
  color: white;
}

.navbar-default .navbar-brand  {
  color: white;
}

.navbar-default .navbar-brand:hover  {
  color: white;
}

.navbar-default .navbar-brand:active {
  color: white;
}

.navbar-default .navbar-brand:visited {
  color: white;
}

#id_bio {
  height: 200px;
  width: 600px;
  font-size: 30px;
}

.map {
  width: 600px;
  height: 600px;
}

.center {
  text-align: center;
}

#id_location_name {
  width: 500px;
  font-size: 30px;
}

#id_location_city {
  width: 500px;
  font-size: 30px;
}

#id_center {
  width: 500px;
  margin: auto;
}

#right {
  position: absolute;
  right: 50px;
}

#id_football {
  -webkit-appearance: menulist-button;
  width: 300px;
  font-size: 30px;
}

#id_basketball {
  -webkit-appearance: menulist-button;
  width: 300px;
  font-size: 30px;
}

#id_city {
  width: 600px;
  font-size: 30px;
}

#id_state {
  -webkit-appearance: menulist-button;
  width: 300px;
  font-size: 30px;
}
input[type="submit"] {
  width: 250px;
  font-size: 25px;
}

input[type="search"]{
  width: 200px;

}

# #places {
  padding-top: 10px;
}

.button {
  background-color: indigo;
  color: white;
}

form {
  margin: 500;
}
